.app {
    z-index: 9;
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 720px) {

        justify-content: initial;
        padding-top: 80px;

        transform: scale(0.7) !important;
    }

}

.emotion {
    width: 486.667px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #101010;
    font-size: 42px;
    font-weight: 600;
    text-align: center;
    /* margin-top: 80px; */
    color: white;
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
    /* border-bottom: 2px solid white; */
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.gradient {
    z-index: -1;
    left: 28%;
    margin: auto;
    --size: 500px;
    --speed: 50s;
    --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
    position: absolute;
    width: var(--size);
    height: var(--size);
    filter: blur(calc(var(--size) / 5));
    /* background-image: linear-gradient(hsl(158, 82, 57, 85%), hsl(252, 82, 57)); */
    animation: rotate var(--speed) var(--easing) alternate infinite;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    transition: .2s ease-in-out;
}
.t {
    transition: .2s ease-in-out;
}
.neutral {
    background-image: linear-gradient(hsl(158, 82, 57, 85%), hsl(252, 82, 57));
}
.happy {
    background-image: linear-gradient(hsl(356, 91%, 91%, 85%), hsl(63, 100%, 96%, 85%));
}
.sad {
    background-image: linear-gradient(hsl(249, 100%, 44%, 85%), hsla(238, 51%, 14%, 0.85));
}
.angry {
    //convert #af0c17 to hsl
    background-image: linear-gradient(hsl(356, 87%, 37%, 85%), hsl(23, 100%, 59%, 85%));
}
.disgusted {
    background-image: linear-gradient( 	hsl(166, 68%, 43%, 85%),  	hsl(42, 43%, 70%, 85%));
}
.fearful {
    background-image: linear-gradient( 	hsl(202, 96%, 9%, 85%),  	hsl(236, 17%, 51%, 85%));

}
.surprised {
    background-image: linear-gradient( 	hsl(13, 100%, 92%, 85%), hsl(24, 93%, 55%, 85%));
}

@media (min-width: 720px) {
    .gradient {
        --size: 800px;
    }
}

/* This is just to transition when you change the viewport size. */
* {
    transition: all 0.25s ease-out;
}