body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #101010;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  inset: 0;
  overflow: hidden !important;
}

* {
  box-sizing: border-box;
}